body,h1,h2,p{margin:0;padding:0;vertical-align:baseline}
body{background:#3dbcd4;font:14px "proxima-nova-soft",Helvetica,Arial,sans-serif}
h1,h2{font-family:"proxima-nova-alt-ext-cond";font-weight:800}
a{color:#3dbcd4}
abbr{border-bottom:none}
*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.resetDOM{display:none}
.button,.submit{padding:5px 10px;min-width:40px;border:none;cursor:pointer;font-family:'proxima-nova-soft';font-size:18px;border-radius:5px;-moz-border-radius:5px}
.hotkey{margin-right:5px;background:#ccc;box-shadow:inset 0 0 2px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(0,0,0,0.05);-webkit-box-shadow:inset 0 0 2px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 0 2px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(0,0,0,0.05);color:#fff}
.submit{margin-left:10px;background:#3dbcd4;color:#fff;box-shadow:inset 0 0 2px #fff,inset 0 0 0 1px rgba(0,0,0,0.5);-webkit-box-shadow:inset 0 0 2px #fff,inset 0 0 0 1px rgba(0,0,0,0.5);-moz-box-shadow:inset 0 0 2px #fff,inset 0 0 0 1px rgba(0,0,0,0.5);text-shadow:0 1px 1px rgba(0,0,0,0.4);transition:all .3s;}
.submit:disabled{background:#ccc;box-shadow:inset 0 0 2px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(0,0,0,0.05);-webkit-box-shadow:inset 0 0 2px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 0 2px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(0,0,0,0.05);text-shadow:0 1px 1px rgba(0,0,0,0);transition:all .3s}
.header{display:block;width:100%}
#home-header{display:block;width:100%;height:100%;}
#home-header .main-header{display:block;margin-top:20px;margin-left:auto;margin-right:auto;width:960px;}
#home-header .main-header .header{height:100px}
#home-header .main-header h1{display:inline-block;color:#fff;vertical-align:top;font-family:"lobster";font-size:50px;font-weight:400}
#home-header .main-header h2{display:block;padding-bottom:20px;color:#fff;font-size:40px;font-weight:800}
#home-header .main-header .left,#home-header .main-header .right{display:inline-block;padding:10px 10px 0 10px;vertical-align:top}
#home-header .main-header .left{width:55%}
#home-header .main-header .right{width:45%}
#home-header .main-body{display:block;margin-top:40px;margin-left:auto;margin-right:auto;width:1000px;background:#f0f0f0;border-top-left-radius:10px;border-top-right-radius:10px;-moz-border-top-left-radius:10px;-moz-border-top-right-radius:10px;box-shadow:0 0 5px rgba(0,0,0,0.25),inset 0 0 5px 1px #fff;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.25),inset 0 0 5px 1px #fff;-moz-box-shadow:0 0 5px rgba(0,0,0,0.25),inset 0 0 5px 1px #fff;}
#home-header .main-body .header{padding:10px 40px;border-top:1px solid rgba(255,255,255,0.75)}
#home-header .main-body ._4cols{display:block;padding:0 20px 40px 20px;border-bottom:1px solid rgba(0,0,0,0.1);}
#home-header .main-body ._4cols .col{display:inline-block;padding:0 20px;width:25%;vertical-align:top;}
#home-header .main-body ._4cols .col .sprite{display:block;background:#000;width:100%;height:191px;border-bottom:1px solid #fff}
#home-header .main-body ._2cols{display:block;padding:0 20px 40px 20px;}
#home-header .main-body ._2cols .col{display:inline-block;padding:0 20px;width:50%;vertical-align:top}
#home-header .main-body ._2cols .popbox_frame{padding:5px;width:100%;background:#ddd;border-radius:4px;-moz-border-radius:4px}
#home-header .main-body ._2cols .popbox{resize:none;border:1px solid rgba(0,0,0,0.1);padding:5px;width:100%;height:100px;font-family:'proxima-nova-soft';font-size:14px;overflow:hidden;border-radius:4px;-moz-border-radius:4px;}
#home-header .main-body ._2cols .popbox:hover,#home-header .main-body ._2cols .popbox:focus{box-shadow:0 0 3px 1px #3dbcd4;-webkit-box-shadow:0 0 3px 1px #3dbcd4;-moz-box-shadow:0 0 3px 1px #3dbcd4}
#home-header .main-body ._2cols .popbox_menu{padding:10px;width:100%;text-align:left;}
#home-header .main-body ._2cols .popbox_menu .left,#home-header .main-body ._2cols .popbox_menu .right{display:inline-block}
#home-header .main-body ._2cols .popbox_menu .left{width:60%}
#home-header .main-body ._2cols .popbox_menu .right{width:40%;text-align:right}
#home-header .main-body h1,#home-header .main-body h2{color:#333}
#home-header .main-body h1{padding:10px 0;font-size:30px}
#home-header .main-body h2{padding:20px 0;font-size:20px}
#home-header .main-body p{padding:0 0 10px 0;color:#777}
#feed{display:block;padding:0 10px;height:500px;background:#fff;border-radius:5px;-moz-border-radius:5px;box-shadow:0 0 5px rgba(255,255,255,0.75),0 0 0 1px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 5px rgba(255,255,255,0.75),0 0 0 1px rgba(0,0,0,0.1);-moz-box-shadow:0 0 5px rgba(255,255,255,0.75),0 0 0 1px rgba(0,0,0,0.1);overflow:auto;}
#feed .new_posts{display:none;text-align:center;padding:10px;margin-top:10px;font-size:14px;width:100%;background:#eee;color:#ccc;box-shadow:inset 0 0 2px #fff,inset 0 0 0 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 0 2px #fff,inset 0 0 0 1px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 0 2px #fff,inset 0 0 0 1px rgba(0,0,0,0.1)}
#feed .post{display:block;padding:10px 0;width:100%;border-bottom:1px solid rgba(0,0,0,0.1);}
#feed .post .query{color:#3dbcd4}
#feed .post .sprite{display:inline-block}
#feed .post .body{display:inline-block;vertical-align:top;padding:0 10px;width:85%;}
#feed .post .body h1,#feed .post .body h2,#feed .post .body h3{padding:0;display:inline-block;font-family:"proxima-nova-soft"}
#feed .post .body h1{font-size:14px;font-weight:600}
#feed .post .body h2{font-size:12px;font-weight:400;color:#777}
#feed .post .body h3{font-size:10px;font-weight:400;color:#777;}
#feed .post .body h3 span{display:block;color:#ccc}
#feed .post .body abbr{float:right;color:#ccc}
#home-footer{display:block;width:100%;height:100%;background:#000;border-top:2px solid rgba(255,255,255,0.25);}
#home-footer .wrapper{display:block;margin-left:auto;margin-right:auto;padding:20px 20px 40px 20px;width:1000px;}
#home-footer .wrapper .col{display:inline-block;padding:0 20px;width:25%;vertical-align:top}
#home-footer .wrapper h1,#home-footer .wrapper h2{font-family:"proxima-nova-soft";color:#fff;font-weight:400}
#home-footer .wrapper h1{font-size:13px}
#home-footer .wrapper h2{font-size:12px;color:#888}
