body, h1, h2, p
	margin: 0
	padding: 0
	vertical-align baseline

body 
	background #3dbcd4
	font 14px "proxima-nova-soft", Helvetica, Arial, sans-serif

h1, h2
	font-family "proxima-nova-alt-ext-cond"
	font-weight 800
a 
	color #3dbcd4

abbr
	border-bottom none

*, *:after, *:before
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

bRadius(val, target)
	if target == 'top'
		border-top-left-radius val
		border-top-right-radius val
		-moz-border-top-left-radius val
		-moz-border-top-right-radius val
	else if target == 'bottom'
		border-bottom-left-radius val
		border-bottom-right-radius val
		-moz-border-bottom-left-radius val
		-moz-border-bottom-right-radius val
	else
		border-radius val
		-moz-border-radius val

box-shadow()
	box-shadow arguments
	-webkit-box-shadow arguments
	-moz-box-shadow arguments

.resetDOM
	display none

.button, .submit
	padding 5px 10px
	min-width 40px
	border none
	cursor pointer
	font-family 'proxima-nova-soft'
	font-size 18px
	bRadius(5px, null)

.hotkey
	margin-right 5px
	background #ccc
	box-shadow inset 0 0 2px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.05)
	color #fff

.submit
	margin-left 10px
	background #3dbcd4
	color #fff
	box-shadow inset 0 0 2px rgba(255, 255, 255, 1), inset 0 0 0 1px rgba(0, 0, 0, 0.5)
	text-shadow 0 1px 1px rgba(0, 0, 0, 0.4)
	transition all 0.3s

	&:disabled
		background #ccc
		box-shadow inset 0 0 2px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.05)
		text-shadow 0 1px 1px rgba(0, 0, 0, 0)
		transition all 0.3s

.header
	display block
	width 100%

#home-header
	display block
	width 100%
	height 100%

	.main-header
		display block
		margin-top 20px
		margin-left auto
		margin-right auto
		width 960px

		.header
			height 100px

		h1
			display inline-block
			color #fff
			vertical-align top
			font-family "lobster" 
			font-size 50px
			font-weight 400

		h2
			display block
			padding-bottom 20px
			color #fff
			font-size 40px
			font-weight 800

		.left
		.right
			display inline-block
			padding 10px 10px 0 10px
			vertical-align top

		.left
			width 55%
		.right
			width 45%

	.main-body
		display block
		margin-top 40px
		margin-left auto
		margin-right auto
		width 1000px
		background #f0f0f0
		bRadius(10px, top)
		box-shadow 0 0 5px rgba(0, 0, 0, 0.25), inset 0 0 5px 1px rgba(255, 255, 255, 1)

		.header
			padding 10px 40px
			border-top 1px solid rgba(255, 255, 255, 0.75)

		._4cols
			display block
			padding 0 20px 40px 20px
			border-bottom 1px solid rgba(0, 0, 0, 0.1)

			.col
				display inline-block
				padding 0 20px
				width (100%/4)
				vertical-align top

				.sprite
					display block
					background #000
					width 100%
					height 191px
					border-bottom 1px solid #fff
		._2cols
			display block
			padding 0 20px 40px 20px

			.col
				display inline-block
				padding 0 20px
				width (100%/2)
				vertical-align top

			.popbox_frame
				padding 5px
				width 100%
				background #ddd
				bRadius(4px, null)

			.popbox
				resize none
				border 1px solid rgba(0, 0, 0, 0.1)
				padding 5px
				width 100%
				height 100px
				font-family 'proxima-nova-soft'
				font-size 14px
				overflow hidden
				bRadius(4px, null)
				&:hover, &:focus
					box-shadow 0 0 3px 1px #3dbcd4

			.popbox_menu
				padding 10px
				width 100%
				text-align left

				.left, .right
					display inline-block

				.left
					width 60%
				.right
					width 40%
					text-align right



		h1, h2
			color #333
		h1
			padding 10px 0
			font-size 30px
		h2
			padding 20px 0
			font-size 20px
		p
			padding 0 0 10px 0
			color #777

#feed
	display block
	padding 0 10px
	height 500px
	background #fff
	bRadius(5px, null)
	box-shadow 0 0 5px rgba(255, 255, 255, 0.75), 0 0 0 1px rgba(0, 0, 0, 0.1)
	overflow auto

	.new_posts
		display none
		text-align center
		padding 10px
		margin-top 10px
		font-size 14px
		width 100%
		background #eee
		color #ccc
		box-shadow inset 0 0 2px rgba(255, 255, 255, 1), inset 0 0 0 1px rgba(0, 0, 0, 0.1)

	.post
		display block
		padding 10px 0
		width 100%
		border-bottom 1px solid rgba(0, 0, 0, 0.1)

		.query
			color #3dbcd4
			
		.sprite
			display inline-block

		.body
			display inline-block
			vertical-align top
			padding 0 10px
			width 85%

			h1, h2, h3
				padding 0
				display inline-block
				font-family "proxima-nova-soft"
			h1
				font-size 14px
				font-weight 600
			h2
				font-size 12px
				font-weight 400
				color #777
			h3
				font-size 10px
				font-weight 400
				color #777

				span
					display block
					color #ccc
			abbr
				float right
				color #ccc

#home-footer
	display block
	width 100%
	height 100%
	background #000
	border-top 2px solid rgba(255, 255, 255, 0.25)

	.wrapper
		display block
		margin-left auto
		margin-right auto
		padding 20px 20px 40px 20px
		width 1000px

		.col
			display inline-block
			padding 0 20px
			width (100%/4)
			vertical-align top

		h1, h2
			font-family "proxima-nova-soft"
			color #fff
			font-weight 400
		
		h1
			font-size 13px

		h2
			font-size 12px
			color #888


