extends layout

block content
	div#home-header
		div.main-header
			div.header 
				img(src='/images/popsql_logo.png')
				h1 #{title}
			div.left
				img(src='/images/cover001.png')
			div.right
				h2 Melting Chat, Search and Commands For Social.
				p #{title} is an open-source chat platform, that allows users to chat, search and execute commands from a simple command line interface. Users can easily connect to their data streams to access, create and share up-to-the-minute content on the fly. 
		div.main-body
			div.header(style='border-top: none')
				h1 What is #{title}?
			
			div._4cols
				div.col
					div.sprite
						img(src='/images/col1.png')
					h2 Enhanced Chat
					p #{title} is an open-source platform for chat, melting together chat, search and commands through a simple command line interface.
				div.col 
					div.sprite
						img(src='/images/col2.png')
					h2 Search
					p Users can search for information or query their data streams by asking questions to middleware hosts. The hosts reply inside the normal chat thread.
				div.col 
					div.sprite
						img(src='/images/col3.png')
					h2 Append Search
					p Users can append searches into their normal chat. The answer is appended into the user's post as intended.
				div.col 
					div.sprite
						img(src='/images/col4.png')
					h2 Command
					p Users can also execute terminal style commands, to interact with their data streams and services.

			div.header
				h1 Give it a try...

			div._2cols
				div.col 
					p Use the text box to post a comment, search, or maybe run a command.
					center#cmdLine_parent
						form#cmdLine.popbox_frame(method='post', action='/')
							textarea.popbox(name='post_content', rows='2', cols='50')
							div.popbox_menu
								div.left
									input.button.hotkey(type='button', value='@')
									input.button.hotkey(type='button', value='#')
									input.button.hotkey(type='button', value='?')
								div.right
									span(data-name='popbox_label') 140
									input#popbox_submit.submit(type='submit', value='submit')
				
				div.col
					div#feed.feed
						each post in posts_array
							-var postID = post.thread
							-var spriteID = '/images/guest.png'
							-var post_time = post.date
							-var post_content = post.post
							include post
